#shortcut {
    width: 100%;
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}

.shortcut {
    width: 990px;
    height: 30px;
    line-height: 30px;
    color: #999;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.shortcut li {
    list-style-type: none;
    display: inline;
}

.shortcut li div {
    display: inline;
}

.shortcut li div a {
    text-decoration: none;
}

.shortcut #location {
    width: 20px;
    margin: auto 0;
    height: 20px;
}